<div class="border border-dark d-flex justify-content-between m-2">
    <div class="m-2">
        <img style="width:180px; height:100px;" src={{book?.cover}} alt="content">
    </div>
    <div class="d-flex flex-column justify-content-between">
        <p>{{book?.title}}</p>
        <p>Rating: {{book?.rating}} Review: {{book?.reviewsNumber}}</p>
    </div>
    <div>
        <button type="button" class="btn btn-outline-secondary" (click)="open(content)">See</button>

        <button class="btn btn-outline-secondary">Edit</button>
    </div>
</div>

<ng-template #content let-modal>
    <app-view-book [bookId]="book?.id"></app-view-book> 
  </ng-template>
  
   