
.edit-book-container{
    font-size: 14px;
}


.book-container__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-input{
    width: 10%;
    margin-right: 30px;
}

.form-button{
    padding:40px
}